<div class="intro-message intro-header">
    <div class="row">
      <h1>Welcome to the Mentor Applications</h1>
      <p style="display:block;">Thank you for your interest in iMentor Bay Area. This
      application will take about 15 &mdash; 30 minutes to complete. You
      can save and resume your progress by signing into your
      account. On the last page of this application we will ask you for
      several personal references. You may wish to have that
      information available now to provide when you get to that
      last page.
      </p>
    </div>
    <div class="row">
        <div class="col s4 offset-s4">
            <a routerLink="/started">Start application</a>
        </div><br/>
        <div class="col s4 offset-s4">
            <a routerLink="/notyet">I'm not ready yet</a>
        </div><br/>
    </div>
  </div>