<div id="logbox">
  <form id="signup" method="post" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <h1>account login</h1>
    <input [(ngModel)]="user.username" name="username" type="text" placeholder="enter your email" class="input pass"/>
    <input [(ngModel)]="user.password" name="password" type="password" placeholder="enter your password" required="required" class="input pass"/>
    <input type="submit" value="Sign me in!" class="inputButton"/>
    <div class="text-center">
      <a routerLink="/signup" id="login_id">create an account</a> - <a href="#" id="">forgot password</a>
    </div>
  </form>
</div>