
  <h2 style="margin-top:54px;">Profile</h2>
  <div class="profile-row" style="background-color:rgb(108, 156, 247);color:white;">
  <button type="button" class="btn">Basic info</button>
  <button type="button" class="btn btn-info">Update info</button>
</div>
  <div class="card" style="width:57%">
      <div class="card-body" style="position:absolute;margin-left:8%;padding-left:0.5%;">
          <h4 class="card-title">Umesh Yadav</h4>
          <p class="card-text">Some example text some example text. Umesh is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
      </div>
      <img class="card-img-top" src="assets/images/01.JPG" alt="user image" style="width:15%">
      <div class="card-body" >
          <h4 class="card-title">Umesh Yadav</h4>
          <p class="card-text">Some example text some example text. Umesh is an architect and engineer</p>
          <div style="width:50%;">
            <a href="#" class="socl-icon" title="share with facebook">
              <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            </a>
            <a href="#" class="socl-icon" title="share with twitter">
              <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
            </a>
            <a href="#" class="socl-icon" title="share with linkedin">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </a>
            <a href="#" class="socl-icon" title="share with whatsapp">
              <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
            </a>
            <a href="#" class="socl-icon" title="share with mail">
              <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i>
            </a>
          </div>
      </div>
      
  </div>
